### NLP Notebook 01 - Part 1: Playing with "f-strings"

In [1]:
# Older Python Version use of format strings (f-strings)
name = "Mubashir"
print("Hello, my name is {}".format(name))

Hello, my name is Mubashir

In [2]:
# Newer Python Version (>3.7) use of format strings (f-strings)
name = "Mubashir"
print(f"Hello, my name is {name}")

Hello, my name is Mubashir

In [3]:
# Using Python dictionary
dic = {'a':1234, 'b':5678, 'c':9012}
print(f"The number of `a` is {dic['a']}")
print(f"The number of `b` is {dic['b']}")
print(f"The number of `c` is {dic['c']}")

The number of `a` is 1234
The number of `b` is 5678
The number of `c` is 9012

In [4]:
# Using Python list
lis = [50,21,92,33,14,45,76,67,98,89]
print(f"The number of index `0` is {lis[0]}")
print(f"The number of index `4` is {lis[4]}")
print(f"The number of index `7` is {lis[7]}")

The number of index `0` is 50
The number of index `4` is 14
The number of index `7` is 67

In [5]:
# Using Python tuples
tup = [
    ('Name', 'Category', 'Year', 'Price', 'Currency'),
    ('Alan Wright', 'Mythology', '2022', '45.67', 'CAD'),
    ('Quing Zhao', 'Mathematics', '2011', '79.99', 'USD'),
    ('Archana Basu', 'Linguistics', '2008', '225.50', 'INR'),
]
tup

[('Name', 'Category', 'Year', 'Price', 'Currency'),
 ('Alan Wright', 'Mythology', '2022', '45.67', 'CAD'),
 ('Quing Zhao', 'Mathematics', '2011', '79.99', 'USD'),
 ('Archana Basu', 'Linguistics', '2008', '225.50', 'INR')]

In [6]:
for book in tup:
    print(book)

('Name', 'Category', 'Year', 'Price', 'Currency')
('Alan Wright', 'Mythology', '2022', '45.67', 'CAD')
('Quing Zhao', 'Mathematics', '2011', '79.99', 'USD')
('Archana Basu', 'Linguistics', '2008', '225.50', 'INR')

In [7]:
for book in tup:
    print(f"Author Name is: {book[0]}")

Author Name is: Name
Author Name is: Alan Wright
Author Name is: Quing Zhao
Author Name is: Archana Basu

In [8]:
for author, category, year, price, currency in tup:
    print(f"Author:{author} \tBook:{category} \tPublished:{year} \t Price:{price} \t Currency:{currency}")

Author:Name 	Book:Category 	Published:Year 	 Price:Price 	 Currency:Currency
Author:Alan Wright 	Book:Mythology 	Published:2022 	 Price:45.67 	 Currency:CAD
Author:Quing Zhao 	Book:Mathematics 	Published:2011 	 Price:79.99 	 Currency:USD
Author:Archana Basu 	Book:Linguistics 	Published:2008 	 Price:225.50 	 Currency:INR

In [9]:
for author, category, year, price, curr in tup:
    print(f"{author:{20}} {category:{20}} {year:{10}} {price:->{10}} {curr}")

Name                 Category             Year       -----Price Currency
Alan Wright          Mythology            2022       -----45.67 CAD
Quing Zhao           Mathematics          2011       -----79.99 USD
Archana Basu         Linguistics          2008       ----225.50 INR

#### Date-Time Formatting (Using strf time format of Python)

In [11]:
# Using 'readlines()' to read a file
with open('strftime.txt', 'r') as file:
    lines = file.readlines()
    for line in lines:
        print(line, end='')

Code		Example		Description
%a		Sun		Weekday as locale's abbreviated name.
%A		Sunday		Weekday as locale's full name.
%w		0		Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.
%d		08		Day of the month as a zero-padded decimal number.
%-d		8		Day of the month as a decimal number. (Platform specific)
%b		Sep		Month as locale's abbreviated name.
%B		September	Month as locale's full name.
%m		09		Month as a zero-padded decimal number.
%-m		9		Month as a decimal number. (Platform specific)
%y		13		Year without century as a zero-padded decimal number.
%Y		2013		Year with century as a decimal number.
%H		07		Hour (24-hour clock) as a zero-padded decimal number.
%-H		7		Hour (24-hour clock) as a decimal number. (Platform specific)
%I		07		Hour (12-hour clock) as a zero-padded decimal number.
%-I		7		Hour (12-hour clock) as a decimal number. (Platform specific)
%p		AM		Locale's equivalent of either AM or PM.
%M		06		Minute as a zero-padded decimal number.
%-M		6		Minute as a decimal number. (Platform specific)
%S		05		Second as a zero-padded decimal number.
%-S		5		Second as a decimal number. (Platform specific)
%f		000000		Microsecond as a decimal number, zero-padded to 6 digits.
%z		+0000		UTC offset in the form Â±HHMM[SS[.ffffff]] (empty string if the object is naive).
%Z		UTC		Time zone name (empty string if the object is naive).
%j		251		Day of the year as a zero-padded decimal number.
%-j		251		Day of the year as a decimal number. (Platform specific)
%U		36		Week number of the year (Sunday as the first day of the week) as a zero-padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.
%-U		36		Week number of the year (Sunday as the first day of the week) as a decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. (Platform specific)
%W		35		Week number of the year (Monday as the first day of the week) as a zero-padded decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%-W		35		Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0. (Platform specific)
%c		Sun Sep 8 07:06:05 2013	Locale's appropriate date and time representation.
%x		09/08/13	Locale's appropriate date representation.
%X		07:06:05	Locale's appropriate time representation.
%%		%		A literal '%' character.

In [12]:
# Date Formatting
from datetime import datetime

birthday = datetime(day=12,month=10,year=2000, hour=12, minute=54, second=12)
print(f"My birthday is: {birthday}")

My birthday is: 2000-10-12 12:54:12

In [13]:
print(f"My birthday is %c: {birthday:%c}")
print(f"My birthday is %x: {birthday:%x}")
print(f"My birthday was on a %a: {birthday:%a}")
print(f"My birthday was on a %A: {birthday:%A}")
print(f"My birthday is on the (%mth) {birthday:%mth} month of the year")
print(f"My birthday month is %b: {birthday:%b}")
print(f"My birthday month is %B: {birthday:%B}")
print(f"I was born in the (%ys) {birthday:%ys}")
print(f"My birthday year is %Y: {birthday:%Y}")
print(f"My birth-time is %X: {birthday:%X}")
print(f"My birth-time is %X %p: {birthday:%X %p}")
print(f"My birth-time is: Hour(%H):{birthday:%H}, Minute(%M):{birthday:%M}, and Seconds(%S):{birthday:%S}")
print(f"My Birthday is (%dth %B %Y): {birthday:%dth %B %Y}")
print(f"My Birthtime is (%H:%M:%S %p %Z): {birthday:%H:%M:%S %p %Z}")
print(f"My Birthday's day of the year is (%j): {birthday:%j}")

My birthday is %c: Thu Oct 12 12:54:12 2000
My birthday is %x: 10/12/00
My birthday was on a %a: Thu
My birthday was on a %A: Thursday
My birthday is on the (%mth) 10th month of the year
My birthday month is %b: Oct
My birthday month is %B: October
I was born in the (%ys) 00s
My birthday year is %Y: 2000
My birth-time is %X: 12:54:12
My birth-time is %X %p: 12:54:12 PM
My birth-time is: Hour(%H):12, Minute(%M):54, and Seconds(%S):12
My Birthday is (%dth %B %Y): 12th October 2000
My Birthtime is (%H:%M:%S %p %Z): 12:54:12 PM
My Birthday's day of the year is (%j): 286